@import 'tailwindcss';

@theme {

  --font-nunito: 'Nunito', 'Nunito Sans', sans-serif;

  --color-custom-neutral-100: #F6F5F1;
  --color-custom-neutral-200: #E0E6E3;
  --color-custom-neutral-300: #D0DCD9;
  --color-custom-neutral-600: #395852;
  --color-custom-neutral-900: #163A34;

  --color-custom-orange-500: #FE9F6B;
  --color-custom-teal-500: #49AC9B;
  --color-custom-indigo-500: #697DDB;

}

@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@utility font-preset-1 {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 800;
  font-size: 72px;
  line-height: 110%;
  letter-spacing: -2px;
}

@utility font-preset-1-tablet {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 800;
  font-size: 64px;
  line-height: 110%;
  letter-spacing: -2px;
}

@utility font-preset-1-mobile {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 800;
  font-size: 52px;
  line-height: 110%;
  letter-spacing: -2px;
}

@utility font-preset-2 {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -2px;
}

@utility font-preset-2-mobile {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 800;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: -2px;
}

@utility font-preset-3 {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -1px;
}

@utility font-preset-4 {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  letter-spacing: -1px;
}

@utility font-preset-5 {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: -0.5px;
}

@utility font-preset-6 {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.4px;
}

@utility font-preset-7 {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -0.3px;
}

@utility font-preset-8 {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.3px;
}

@utility font-preset-9 {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.3px;
}

@utility font-preset-10 {
  font-family: var(--font-nunito), sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: -0.3px;
}
